:root {
    /* Dark theme properties */
    --background-color: #36393f;
    --text-color: #99aab5;
    --accent-color: #277750;
    --header-bg-color: #2f3136;
    --section-bg-color: #40444b;
}

[data-theme="light"] {
    /* Light theme properties */
    --background-color: #ffffff;
    --text-color: #36393f;
    --accent-color: #4CAF50;
    --header-bg-color: #ffffff;
    --section-bg-color: #e0e0e0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    position: relative; /* Ensures the button can be positioned absolutely relative to header */
    background-color: var(--header-bg-color);
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #4f545c;
}

section {
    background-color: var(--section-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

.profile-img {
    border-radius: 50%; /* circular image */
    border: 3px solid #277750; /* light green border */
}

.projects-list, .socials-list {
    list-style: none;
    padding: 0;
}

.projects-list li, .socials-list li {
    margin-bottom: 10px;
}

a {
    color: #277750; /* Consistent light green for all links */
    text-decoration: none; /* no underline */
}

a:hover {
    text-decoration: underline; /* underline on hover for usability */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2f3136; /* Same as header for consistency */
    color: #fff; /* pure white for contrast */
    border-top: 1px solid #4f545c; /* subtle top border */
}