body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto 0 auto;
    padding: 0;
}

header {
    background: #ffffff;
    color: #2b2b2b;
    padding: 10px 20px;
    z-index: 10;
}

header {
    background-color: rgb(222, 255, 249);
    border-color: rgb(117, 180, 164);
    border-style: ridge;
    border-width: 10px;
    text-align: center;
    margin: 20px 10px 20px 10px;
    font: 15px 'Montserrat', sans-serif black;
    color: dimGray;
  }

section {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    z-index: 5;
}

img {
    border: 4px rgb(202, 220, 237);
    margin: 10px 20px 10px 0;
  }

.img-shadow {
    box-shadow: 10px 10px 5px rgb(60, 60, 60); 
}